<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Details.css">
    <title>Admin Registration</title>
</head>
<body>
    <div class="Container">
        <div class="Content">
            <h3>Register Data</h3>
            <p>Please enter your ID:</p>
            <input type="text" name="ID" class="in" placeholder="0102040105">
            <p>Please enter your Full Name:</p>
            <input type="text" name="FName" class="in" placeholder="Chirene Dekker">
            <p>Please enter your Address:</p>
            <input type="text" name="Address" class="in" placeholder="McCafe Road">
            <p>Please enter your Email:</p>
            <input type="text" name="Email" class="in" placeholder="exmaple@gmail.com">
            <p>Please enter your Password:</p>
            <input type="password" name="Password" class="in" placeholder="********">
        </div>
        <div class="Content">
            <h3>Displaying Data</h3>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Full Name</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Password</th>
                    </tr>
            </thead>

                <tbody>
                    <tr th:each="student: ${list}">
                        <td th:text="${student.student_id}" />
                        <td th:text="${student.student_name}" />
                        <td th:text="${student.student_address}" />
                        <td th:text="${student.student_email}" />
                        <td th:text="${student.student_password}" />
                    </tr>
                </tbody>
            </table>
        </div> 
      </div>

      <section id="CRUD">
        <input type="submit" name="Create" class="CRUD" value="Create">
        <input type="submit" name="Read" class="CRUD" value="Read">
        <input type="submit" name="Update" class="CRUD" value="Update">
        <input type="submit" name="Delete" class="CRUD" value="Delete">
      </section>
</body>
</html>