<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Login.css">
    <title>Login1</title>
</head>
<body>
    <section id="Container">
        <section id="Content">
            <h3>Login Page</h3>
        <p>Please Enter your Username:</p>
        <input type="text" name="Username" class="In" placeholder="Eric">
        <p>Please Enter your Password:</p>
        <input type="text" name="Password" class="In" placeholder="*******">
        <br>
        <br>
        <a href="/UserDetails.html"><input type="submit" name="Sign in U" class="btn" value="Login User"></a>
        <a href="/AdminData.html"><input type="submit" name="Sign in A" class="btn" value="Login Admin"></a>
        <p id="Check"></p>
        </section>
    </section>
</body>
</html>