<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/UserDetails.css">
    <title>User Data</title>
</head>
<body>
    <div class="Container">
        <div id="Content">
            <h3>Displaying Data</h3>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
            </thead>

            <tbody>
				<tr th:each="student: ${list}">
					<td th:text="${student.student_id}" />
					<td th:text="${student.student_name}" />
					<td th:text="${student.student_address}" />
                    <td th:text="${student.student_email}" />
                    <td th:text="${student.student_password}" />
				</tr>
			</tbody>
            </table>
        </div> 
      </div>
</body>
</html>